extends layout

block menu
    ul#main-menu.main-menu
        li.active.opened.active
            a(href='/')
                i.linecons-desktop
                span.title Dashboard
            ul
                li
                    a(href='/')
                        span.title 整体监控
                li.active
                    a(href='/category')
                        span.title 品类分析
                li
                    a(href='/customer')
                        span.title 用户分析
        //li
        //    a(href='layout-variants.html')
        //        i.linecons-cog
        //        span.title Configuration
        //    ul
        //        li
        //            a(href='/')
        //                span.title 数据模拟配置

block content
    .row
        .col-sm-12
            .panel.panel-default
                .panel-heading
                    h3.panel-title 各品类销售趋势
                .panel-body
                    #bar-1(style='height: 350px; width: 100%;')
    .row
        .col-md-12
            .panel.panel-default
                .panel-heading
                    h3.panel-title 各品类数据分析
                    .panel-options
                        a(href='#', data-toggle='reload')
                            i.fa-rotate-right
                .panel-body
                    .table-responsive(data-pattern='priority-columns', data-focus-btn-icon='fa-asterisk', data-sticky-table-header='true', data-add-display-all-btn='true', data-add-focus-btn='true')
                        table.table.table-small-font.table-bordered.table-striped(cellspacing='0')
                            thead
                                tr
                                    th 品类名称
                                    th(data-priority='1') 销售额
                                    th(data-priority='3') 移动占比
                                    th(data-priority='1') UV
                                    th(data-priority='3') 转化率
                                    th(data-priority='3') 订单数
                                    th(data-priority='6') 客户数
                                    th(data-priority='6') 新客数
                            tbody
                                each m in list
                                    tr
                                        th
                                            | #{m.name}
                                        td #{m.sales}
                                        td #{m.app}
                                        td #{m.uv}
                                        td #{m.rate}
                                        td #{m.order}
                                        td #{m.user}
                                        td #{m.new}

    script.
        jQuery(document).ready(function ($) {
            $("#bar-1").dxChart({
                dataSource: !{JSON.stringify(list)},
                series: {
                    argumentField: "name",
                    valueField: "sales",
                    name: "销售额",
                    type: "bar",
                    color: '#ff6264'
                },
                legend: {
                    visible: true
                }
            });

            // Resize charts
            $(window).on('xenon.resize', function () {
                $("#bar-1").data("dxChart").render();
            });
        });
