extends layout

block menu
    ul#main-menu.main-menu
        li.active.opened.active
            a(href='/')
                i.linecons-desktop
                span.title Dashboard
            ul
                li
                    a(href='/')
                        span.title 整体监控
                li
                    a(href='/category')
                        span.title 品类分析
                li.active
                    a(href='/customer')
                        span.title 用户分析
        li
            a(href='layout-variants.html')
                i.linecons-cog
                span.title Configuration
            ul
                li
                    a(href='/')
                        span.title 数据模拟配置

block content
    .row
        .col-md-12
            .panel.panel-default
                .panel-heading
                    h3.panel-title 用户人群概述
                    .panel-options
                        a(href='#', data-toggle='reload')
                            i.fa-rotate-right
                .panel-body
                    .table-responsive(data-pattern='priority-columns', data-focus-btn-icon='fa-asterisk', data-sticky-table-header='true', data-add-display-all-btn='true', data-add-focus-btn='true')
                        table.table.table-small-font.table-bordered.table-striped(cellspacing='0')
                            thead
                                tr
                                    th 人群
                                    th(data-priority='3') 销售额
                                    th(data-priority='3') UV
                                    th(data-priority='3') 转化率
                                    th(data-priority='3') 订单数
                                    th(data-priority='6') 客单价
                                    th(data-priority='6') 客户数
                            tbody
                                each m in list
                                    tr
                                        th
                                            | #{m.name}
                                        td #{m.sales}
                                        td #{m.uv}
                                        td #{m.rate}
                                        td #{m.order}
                                        td #{m.price}
                                        td #{m.user}
    .row
        .col-sm-12
            .panel.panel-default
                .panel-heading
                    h3.panel-title 人群分析
                .panel-body
                    script(type='text/javascript').
                        jQuery(document).ready(function ($) {
                            var data = !{JSON.stringify(list)};

                            var options = {
                                startScaleValue: 0,

                                showTarget: false,
                                tooltip: {
                                    customizeText: function () {
                                        return this.value;
                                    }
                                }
                            };

                            var maxSales = 0;
                            var maxOrder = 0;
                            var maxUser = 0;

                            for (var i = 0; i < data.length; i++) {
                                if (data[i].sales > maxSales)
                                    maxSales = data[i].sales;
                                if (data[i].user > maxUser)
                                    maxUser = data[i].user;
                                if (data[i].order > maxOrder)
                                    maxOrder = data[i].order;
                            }

                            for (var i = 0; i < data.length; i++) {

                                var jun = $.extend({
                                    value: data[i].sales,
                                    color: '#68b828',
                                    endScaleValue: maxSales
                                }, options);
                                var jul = $.extend({
                                    value: data[i].user,
                                    color: '#4fcdfc',
                                    endScaleValue: maxUser
                                }, options);
                                var aug = $.extend({
                                    value: data[i].order,
                                    color: '#d5080f',
                                    endScaleValue: maxOrder,
                                }, options);

                                $('.june-' + i).dxBullet(jun);
                                $('.july-' + i).dxBullet(jul);
                                $('.august-' + i).dxBullet(aug);
                            }

                        });
                    table.table.table-bordered.table-hover.text-center.middle-align(border='1')
                        tr
                            th
                            th(width='25%') 销售额
                            th(width='25%') 客户数
                            th(width='25%') 订单数
                        each m,i in list
                            tr
                                th #{m.name}
                                td
                                    div(class='#{"sparkline june-" + i}')
                                td
                                    div(class='#{"sparkline july-" + i}')
                                td
                                    div(class='#{"sparkline august-" + i}')

