extends layout

block content

    .row
        .col-sm-3
            .xe-widget.xe-counter-block(data-count='.num', data-from='0', data-to='#{sales.total}', data-duration='2')
                .xe-upper
                    .xe-icon
                        i.fa-rmb
                    .xe-label
                        strong.num -
                        span 销售额
                .xe-lower
                    .border
                    span APP
                    strong(data-count='this', data-from='0', data-to='#{sales.app}', data-duration='2') -
        .col-sm-3
            .xe-widget.xe-counter-block.xe-counter-block-purple(data-count='.num', data-from='0', data-to='#{uv.total}', data-duration='2')
                .xe-upper
                    .xe-icon
                        i.fa-globe
                    .xe-label
                        strong.num -
                        span UV
                .xe-lower
                    .border
                    span APP
                    strong(data-count='this', data-from='0', data-to='#{uv.app}', data-duration='2') -
        .col-sm-3
            .xe-widget.xe-counter-block.xe-counter-block-blue(data-count='.num', data-from='0', data-to='#{rate.total}', data-suffix='%', data-duration='1')
                .xe-upper
                    .xe-icon
                        i.fa-shopping-cart
                    .xe-label
                        strong.num -
                        span 转化率
                .xe-lower
                    .border
                    span APP
                    strong(data-count='this', data-from='0', data-to='#{rate.app}', data-suffix='%', data-duration='1') -
        .col-sm-3
            .xe-widget.xe-counter-block.xe-counter-block-orange(data-count='.num', data-from='0', data-to='#{orderCount.total}', data-duration='2')
                .xe-upper
                    .xe-icon
                        i.fa-line-chart
                    .xe-label
                        strong.num -
                        span 订单数
                .xe-lower
                    .border
                    span APP
                    strong(data-count='this', data-from='0', data-to='#{orderCount.app}', data-duration='1') -
        .col-sm-3
            .xe-widget.xe-counter-block.xe-counter-block-pink(data-count='.num', data-from='0', data-to='#{price.total}', data-duration='1')
                .xe-upper
                    .xe-icon
                        i.fa-paypal
                    .xe-label
                        strong.num -
                        span 客单价
                .xe-lower
                    .border
                    span APP
                    strong(data-count='this', data-from='0', data-to='#{price.app}', data-duration='1') -
        .col-sm-3
            .xe-widget.xe-counter-block.xe-counter-block-turquoise(data-count='.num', data-from='0', data-to='#{userCount.total}', data-duration='2')
                .xe-upper
                    .xe-icon
                        i.fa-users
                    .xe-label
                        strong.num -
                        span 客户数
                .xe-lower
                    .border
                    span APP
                    strong(data-count='this', data-from='0', data-to='#{userCount.app}', data-duration='2') -
        .col-sm-3
            .xe-widget.xe-counter-block.xe-counter-block-red(data-count='.num', data-from='0', data-to='#{userCount.new}', data-duration='1')
                .xe-upper
                    .xe-icon
                        i.fa-user
                    .xe-label
                        strong.num -
                        span 新客户数
                .xe-lower
                    .border
                    span APP
                    strong(data-count='this', data-from='0', data-to='#{userCount.newApp}', data-duration='1') -
        .col-sm-3
            .xe-widget.xe-counter-block.xe-counter-block-yellow(data-count='.num', data-from='0', data-to='512', data-duration='1')
                .xe-upper
                    .xe-icon
                        i.linecons-attach
                    .xe-label
                        strong.num -
                        span 商品数
                .xe-lower
                    .border
                    span category
                    strong 7

    .panel.panel-default
        .panel-heading
            | 实时访问量数据
        .panel-body
            .row
                .col-sm-12
                    #range-chart
    .row
        .col-sm-6
            .panel.panel-default
                .panel-heading
                    h3.panel-title 近七日销售趋势
                .panel-body
                    #bar-1(style='height: 350px; width: 100%;')

        .col-sm-6
            .panel.panel-default
                .panel-heading
                    h3.panel-title 分站销售占比
                .panel-body
                    #bar-10(style='height: 350px; width: 100%;')

    script.
        jQuery(document).ready(function ($) {
            // Combine charts for filtering, grouped by time
            var memory_usage_data = [
                {time: new Date("October 02, 2014 01:00:00"), used: 559},
                {time: new Date("October 02, 2014 02:00:00"), used: 692},
                {time: new Date("October 02, 2014 03:00:00"), used: 534},
                {time: new Date("October 02, 2014 04:00:00"), used: 607},
                {time: new Date("October 02, 2014 05:00:00"), used: 50},
                {time: new Date("October 02, 2014 06:00:00"), used: 772},
                {time: new Date("October 02, 2014 07:00:00"), used: 30},
                {time: new Date("October 02, 2014 08:00:00"), used: 108},
                {time: new Date("October 02, 2014 09:00:00"), used: 440},
                {time: new Date("October 02, 2014 10:00:00"), used: 371},
                {time: new Date("October 02, 2014 11:00:00"), used: 209},
                {time: new Date("October 02, 2014 12:00:00"), used: 378},
                {time: new Date("October 02, 2014 13:00:00"), used: 308},
                {time: new Date("October 02, 2014 14:00:00"), used: 585},
                {time: new Date("October 02, 2014 15:00:00"), used: 96},
                {time: new Date("October 02, 2014 16:00:00"), used: 473},
                {time: new Date("October 02, 2014 17:00:00"), used: 864},
                {time: new Date("October 02, 2014 18:00:00"), used: 895},
                {time: new Date("October 02, 2014 19:00:00"), used: 610},
                {time: new Date("October 02, 2014 20:00:00"), used: 893},
                {time: new Date("October 02, 2014 21:00:00"), used: 753},
                {time: new Date("October 02, 2014 22:00:00"), used: 209},
                {time: new Date("October 02, 2014 23:00:00"), used: 555},
                {time: new Date("October 03, 2014 00:00:00"), used: 144}
            ];
            // Range Filter
            $("#range-chart").dxRangeSelector({
                dataSource: memory_usage_data,
                size: {
                    height: 240
                },
                chart: {
                    series: [
                        {argumentField: "time", valueField: "used", color: '#40bbea', opacity: .65}
                    ]
                }
            });
            $("#bar-1").dxChart({
                dataSource: [
                    {day: "4-12", sales: between(10000000, 25000000)},
                    {day: "4-13", sales: between(10000000, 25000000)},
                    {day: "4-14", sales: between(10000000, 25000000)},
                    {day: "4-15", sales: between(10000000, 25000000)},
                    {day: "4-16", sales: between(10000000, 25000000)},
                    {day: "4-17", sales: between(10000000, 25000000)},
                    {day: "4-18", sales: between(10000000, 25000000)}
                ],
                series: {
                    argumentField: "day",
                    valueField: "sales",
                    name: "销售额",
                    type: "bar",
                    color: '#00b19d'
                }
            });

            var xenonPalette = ['#0e62c7', '#fcd036', '#4fcdfc', '#00b19d', '#ff6264', '#f7aa47', '#68b828', '#7c38bc'];
            var dataSource = [
                {region: "上海", val: between(10000000, 25000000)},
                {region: "北京", val: between(10000000, 25000000)},
                {region: "深圳", val: between(10000000, 25000000)},
                {region: "广州", val: between(10000000, 25000000)},
                {region: "杭州", val: between(10000000, 25000000)},
                {region: "南京", val: between(10000000, 25000000)}
            ], timer;
            $("#bar-10").dxPieChart({
                dataSource: dataSource,
                tooltip: {
                    enabled: true,
                    format: "millions",
                    customizeText: function () {
                        return this.argumentText + "<br/>" + this.valueText;
                    }
                },
                size: {
                    height: 300
                },
                pointClick: function (point) {
                    point.showTooltip();
                    clearTimeout(timer);
                    timer = setTimeout(function () {
                        point.hideTooltip();
                    }, 2000);
                    $("select option:contains(" + point.argument + ")").prop("selected", true);
                },
                legend: {
                    visible: false
                },
                series: [{
                    type: "doughnut",
                    argumentField: "region"
                }],
                palette: xenonPalette
            });

            // Resize charts
            $(window).on('xenon.resize', function () {
                $("#range-chart").data("dxRangeSelector").render();
                $("#bar-1").data("dxChart").render();
                $("#bar-10").data("dxPieChart").render();
            });
        });
        function between(randNumMin, randNumMax) {
            var randInt = Math.floor((Math.random() * ((randNumMax + 1) - randNumMin)) + randNumMin);
            return randInt;
        }

