extends layout

block content
    .panel.panel-default
        .panel-heading
            | 总销售额
        .panel-body
            .row
                .col-sm-12
                    .chart-item-bg-2
                        .chart-item-num(data-count='this', data-from='0', data-to='#{sales.total}', data-duration='2') -
                        .chart-item-desc
                            p.col-lg-7
                                | Carriage quitting securing be appetite it declared. High eyes kept so busy feel call in.
                        .chart-item-env
                            #doughnut-1(style='width: 200px;')

    .row
        .col-sm-3
            .xe-widget.xe-counter-block(data-count='.num', data-from='0', data-to='#{sales.total}', data-duration='2')
                .xe-upper
                    .xe-icon
                        i.fa-rmb
                    .xe-label
                        strong.num -
                        span 销售额
                .xe-lower
                    .border
                    span APP
                    strong(data-count='this', data-from='0', data-to='#{sales.app}', data-duration='2') -
        .col-sm-3
            .xe-widget.xe-counter-block.xe-counter-block-purple(data-count='.num', data-from='0', data-to='#{uv.total}', data-duration='2')
                .xe-upper
                    .xe-icon
                        i.fa-globe
                    .xe-label
                        strong.num -
                        span UV
                .xe-lower
                    .border
                    span APP
                    strong(data-count='this', data-from='0', data-to='#{uv.app}', data-duration='2') -
        .col-sm-3
            .xe-widget.xe-counter-block.xe-counter-block-blue(data-count='.num', data-from='0', data-to='#{rate.total}', data-suffix='%', data-duration='1')
                .xe-upper
                    .xe-icon
                        i.fa-shopping-cart
                    .xe-label
                        strong.num -
                        span 转化率
                .xe-lower
                    .border
                    span APP
                    strong(data-count='this', data-from='0', data-to='#{rate.app}', data-suffix='%', data-duration='1') -
        .col-sm-3
            .xe-widget.xe-counter-block.xe-counter-block-orange(data-count='.num', data-from='0', data-to='#{orderCount.total}', data-duration='2')
                .xe-upper
                    .xe-icon
                        i.fa-line-chart
                    .xe-label
                        strong.num -
                        span 订单数
                .xe-lower
                    .border
                    span APP
                    strong(data-count='this', data-from='0', data-to='#{orderCount.app}', data-duration='1') -
        .col-sm-3
            .xe-widget.xe-counter-block.xe-counter-block-pink(data-count='.num', data-from='0', data-to='#{price.total}', data-duration='1')
                .xe-upper
                    .xe-icon
                        i.fa-paypal
                    .xe-label
                        strong.num -
                        span 客单价
                .xe-lower
                    .border
                    span APP
                    strong(data-count='this', data-from='0', data-to='#{price.app}', data-duration='1') -
        .col-sm-3
            .xe-widget.xe-counter-block.xe-counter-block-turquoise(data-count='.num', data-from='0', data-to='#{userCount.total}', data-duration='2')
                .xe-upper
                    .xe-icon
                        i.fa-users
                    .xe-label
                        strong.num -
                        span 客户数
                .xe-lower
                    .border
                    span APP
                    strong(data-count='this', data-from='0', data-to='#{userCount.app}', data-duration='2') -
        .col-sm-3
            .xe-widget.xe-counter-block.xe-counter-block-red(data-count='.num', data-from='0', data-to='#{userCount.new}', data-duration='1')
                .xe-upper
                    .xe-icon
                        i.fa-user
                    .xe-label
                        strong.num -
                        span 新客户数
                .xe-lower
                    .border
                    span APP
                    strong(data-count='this', data-from='0', data-to='#{userCount.newApp}', data-duration='1') -
        .col-sm-3
            .xe-widget.xe-counter-block.xe-counter-block-yellow(data-count='.num', data-from='0', data-to='512', data-duration='1')
                .xe-upper
                    .xe-icon
                        i.linecons-attach
                    .xe-label
                        strong.num 512
                        span Photos Taken
                .xe-lower
                    .border
                    span Increase
                    strong 512 more photos

    .panel.panel-default
        .panel-heading
            | 实时订单数据
        .panel-body
            .row
                .col-sm-12
                    #range-chart

    script.
        jQuery(document).ready(function ($) {
            // Combine charts for filtering, grouped by time
            var reqs_per_second_data = [
                {time: new Date("October 02, 2014 01:00:00"), reqs: 89},
                {time: new Date("October 02, 2014 02:00:00"), reqs: 79},
                {time: new Date("October 02, 2014 03:00:00"), reqs: 115},
                {time: new Date("October 02, 2014 04:00:00"), reqs: 186},
                {time: new Date("October 02, 2014 05:00:00"), reqs: 110},
                {time: new Date("October 02, 2014 06:00:00"), reqs: 196},
                {time: new Date("October 02, 2014 07:00:00"), reqs: 128},
                {time: new Date("October 02, 2014 08:00:00"), reqs: 51},
                {time: new Date("October 02, 2014 09:00:00"), reqs: 70},
                {time: new Date("October 02, 2014 10:00:00"), reqs: 54},
                {time: new Date("October 02, 2014 11:00:00"), reqs: 2},
                {time: new Date("October 02, 2014 12:00:00"), reqs: 184},
                {time: new Date("October 02, 2014 13:00:00"), reqs: 48},
                {time: new Date("October 02, 2014 14:00:00"), reqs: 75},
                {time: new Date("October 02, 2014 15:00:00"), reqs: 200},
                {time: new Date("October 02, 2014 16:00:00"), reqs: 9},
                {time: new Date("October 02, 2014 17:00:00"), reqs: 37},
                {time: new Date("October 02, 2014 18:00:00"), reqs: 152},
                {time: new Date("October 02, 2014 19:00:00"), reqs: 78},
                {time: new Date("October 02, 2014 20:00:00"), reqs: 154},
                {time: new Date("October 02, 2014 21:00:00"), reqs: 184},
                {time: new Date("October 02, 2014 22:00:00"), reqs: 167},
                {time: new Date("October 02, 2014 23:00:00"), reqs: 12},
                {time: new Date("October 03, 2014 00:00:00"), reqs: 88},
            ];
            var cpu_usage_data = [
                {time: new Date("October 02, 2014 01:00:00"), usage: 75},
                {time: new Date("October 02, 2014 02:00:00"), usage: 55},
                {time: new Date("October 02, 2014 03:00:00"), usage: 49},
                {time: new Date("October 02, 2014 04:00:00"), usage: 87},
                {time: new Date("October 02, 2014 05:00:00"), usage: 8},
                {time: new Date("October 02, 2014 06:00:00"), usage: 20},
                {time: new Date("October 02, 2014 07:00:00"), usage: 39},
                {time: new Date("October 02, 2014 08:00:00"), usage: 26},
                {time: new Date("October 02, 2014 09:00:00"), usage: 87},
                {time: new Date("October 02, 2014 10:00:00"), usage: 69},
                {time: new Date("October 02, 2014 11:00:00"), usage: 40},
                {time: new Date("October 02, 2014 12:00:00"), usage: 57},
                {time: new Date("October 02, 2014 13:00:00"), usage: 48},
                {time: new Date("October 02, 2014 14:00:00"), usage: 73},
                {time: new Date("October 02, 2014 15:00:00"), usage: 28},
                {time: new Date("October 02, 2014 16:00:00"), usage: 5},
                {time: new Date("October 02, 2014 17:00:00"), usage: 73},
                {time: new Date("October 02, 2014 18:00:00"), usage: 27},
                {time: new Date("October 02, 2014 19:00:00"), usage: 63},
                {time: new Date("October 02, 2014 20:00:00"), usage: 5},
                {time: new Date("October 02, 2014 21:00:00"), usage: 100},
                {time: new Date("October 02, 2014 22:00:00"), usage: 61},
                {time: new Date("October 02, 2014 23:00:00"), usage: 39},
                {time: new Date("October 03, 2014 00:00:00"), usage: 59},
            ];
            var memory_usage_data = [
                {time: new Date("October 02, 2014 01:00:00"), used: 559},
                {time: new Date("October 02, 2014 02:00:00"), used: 692},
                {time: new Date("October 02, 2014 03:00:00"), used: 534},
                {time: new Date("October 02, 2014 04:00:00"), used: 607},
                {time: new Date("October 02, 2014 05:00:00"), used: 50},
                {time: new Date("October 02, 2014 06:00:00"), used: 772},
                {time: new Date("October 02, 2014 07:00:00"), used: 30},
                {time: new Date("October 02, 2014 08:00:00"), used: 108},
                {time: new Date("October 02, 2014 09:00:00"), used: 440},
                {time: new Date("October 02, 2014 10:00:00"), used: 371},
                {time: new Date("October 02, 2014 11:00:00"), used: 209},
                {time: new Date("October 02, 2014 12:00:00"), used: 378},
                {time: new Date("October 02, 2014 13:00:00"), used: 308},
                {time: new Date("October 02, 2014 14:00:00"), used: 585},
                {time: new Date("October 02, 2014 15:00:00"), used: 96},
                {time: new Date("October 02, 2014 16:00:00"), used: 473},
                {time: new Date("October 02, 2014 17:00:00"), used: 864},
                {time: new Date("October 02, 2014 18:00:00"), used: 895},
                {time: new Date("October 02, 2014 19:00:00"), used: 610},
                {time: new Date("October 02, 2014 20:00:00"), used: 893},
                {time: new Date("October 02, 2014 21:00:00"), used: 753},
                {time: new Date("October 02, 2014 22:00:00"), used: 209},
                {time: new Date("October 02, 2014 23:00:00"), used: 555},
                {time: new Date("October 03, 2014 00:00:00"), used: 144},
            ];
            var all_data_sources = [];
            $.map(reqs_per_second_data, function (arg, i) {
                all_data_sources.push({
                    time: arg.time,
                    requestsPerMinute: reqs_per_second_data[i].reqs,
                    cpuUsage: cpu_usage_data[i].usage,
                    memoryUsed: memory_usage_data[i].used
                });
            });
            // Range Filter
            $("#range-chart").dxRangeSelector({
                dataSource: all_data_sources,
                size: {
                    height: 240
                },
                chart: {
                    series: [
                        {argumentField: "time", valueField: "requestsPerMinute", color: '#68b828', opacity: .65},
                        {argumentField: "time", valueField: "cpuUsage", color: '#7c38bc', opacity: .65},
                        {argumentField: "time", valueField: "memoryUsed", color: '#40bbea', opacity: .65}
                    ]
                }
            });
            // Resize charts
            $(window).on('xenon.resize', function () {
                $("#range-chart").data("dxRangeSelector").render();
            });
        });
