extends layout

block menu
    ul#main-menu.main-menu
        li.active.opened.active
            a(href='/')
                i.linecons-desktop
                span.title Dashboard
            ul
                li.active
                    a(href='/')
                        span.title 整体监控
                li
                    a(href='/category')
                        span.title 品类分析
                li
                    a(href='/customer')
                        span.title 用户分析
        //li
        //    a(href='layout-variants.html')
        //        i.linecons-cog
        //        span.title Configuration
        //    ul
        //        li
        //            a(href='/')
        //                span.title 数据模拟配置

block content
    .row
        .col-sm-3
            .xe-widget.xe-counter-block(data-count='.num', data-from='0', data-to='#{sales.total}', data-duration='2')
                .xe-upper
                    .xe-icon
                        i.fa-rmb
                    .xe-label
                        strong.num -
                        span 销售额
                .xe-lower
                    .border
                    span APP
                    strong(data-count='this', data-from='0', data-to='#{sales.app}', data-duration='2') -
        .col-sm-3
            .xe-widget.xe-counter-block.xe-counter-block-purple(data-count='.num', data-from='0', data-to='#{uv.total}', data-duration='2')
                .xe-upper
                    .xe-icon
                        i.fa-globe
                    .xe-label
                        strong.num -
                        span UV
                .xe-lower
                    .border
                    span APP
                    strong(data-count='this', data-from='0', data-to='#{uv.app}', data-duration='2') -
        .col-sm-3
            .xe-widget.xe-counter-block.xe-counter-block-blue(data-count='.num', data-from='0', data-to='#{rate.total}', data-suffix='%', data-duration='1')
                .xe-upper
                    .xe-icon
                        i.fa-shopping-cart
                    .xe-label
                        strong.num -
                        span 转化率
                .xe-lower
                    .border
                    span APP
                    strong(data-count='this', data-from='0', data-to='#{rate.app}', data-suffix='%', data-duration='1') -
        .col-sm-3
            .xe-widget.xe-counter-block.xe-counter-block-orange(data-count='.num', data-from='0', data-to='#{orderCount.total}', data-duration='2')
                .xe-upper
                    .xe-icon
                        i.fa-line-chart
                    .xe-label
                        strong.num -
                        span 订单数
                .xe-lower
                    .border
                    span APP
                    strong(data-count='this', data-from='0', data-to='#{orderCount.app}', data-duration='1') -
        .col-sm-3
            .xe-widget.xe-counter-block.xe-counter-block-pink(data-count='.num', data-from='0', data-to='#{price.total}', data-duration='1')
                .xe-upper
                    .xe-icon
                        i.fa-paypal
                    .xe-label
                        strong.num -
                        span 客单价
                .xe-lower
                    .border
                    span APP
                    strong(data-count='this', data-from='0', data-to='#{price.app}', data-duration='1') -
        .col-sm-3
            .xe-widget.xe-counter-block.xe-counter-block-turquoise(data-count='.num', data-from='0', data-to='#{userCount.total}', data-duration='2')
                .xe-upper
                    .xe-icon
                        i.fa-users
                    .xe-label
                        strong.num -
                        span 客户数
                .xe-lower
                    .border
                    span APP
                    strong(data-count='this', data-from='0', data-to='#{userCount.app}', data-duration='2') -
        .col-sm-3
            .xe-widget.xe-counter-block.xe-counter-block-red(data-count='.num', data-from='0', data-to='#{userCount.new}', data-duration='1')
                .xe-upper
                    .xe-icon
                        i.fa-user
                    .xe-label
                        strong.num -
                        span 新客户数
                .xe-lower
                    .border
                    span APP
                    strong(data-count='this', data-from='0', data-to='#{userCount.newApp}', data-duration='1') -
        .col-sm-3
            .xe-widget.xe-counter-block.xe-counter-block-yellow(data-count='.num', data-from='0', data-to='#{commodity.count}', data-duration='1')
                .xe-upper
                    .xe-icon
                        i.linecons-attach
                    .xe-label
                        strong.num -
                        span 商品数
                .xe-lower
                    .border
                    span category
                    strong #{commodity.type}

    .panel.panel-default
        .panel-heading
            | 实时访问量数据
        .panel-body
            .row
                .col-sm-12
                    #range-chart
    .row
        .col-sm-6
            .panel.panel-default
                .panel-heading
                    h3.panel-title 近七日销售趋势
                .panel-body
                    #bar-1(style='height: 350px; width: 100%;')

        .col-sm-6
            .panel.panel-default
                .panel-heading
                    h3.panel-title 分站销售占比
                .panel-body
                    #bar-10(style='height: 350px; width: 100%;')

    script.
        jQuery(document).ready(function ($) {
            var uv_data = [];


            $("#range-chart").dxChart({
                dataSource: uv_data,
                commonPaneSettings: {
                    border: {
                        visible: true,
                        color: '#f5f5f5'
                    }
                },
                commonSeriesSettings: {
                    type: "area",
                    argumentField: "time",
                    border: {
                        color: '#40bbea',
                        width: 1,
                        visible: false
                    }
                },
                series: [
                    {valueField: "uv", name: "uv", color: '#40bbea', opacity: .5},
                ],
                commonAxisSettings: {
                    label: {
                        visible: true
                    },
                    grid: {
                        visible: true,
                        color: '#f5f5f5'
                    }
                },
                argumentAxis: {
                    valueMarginsEnabled: false,
                    label: {
                        visible: true
                    }
                },
                legend: {
                    visible: false
                },
                animation: {
                    enabled: false
                }
            });

            var socket = io.connect('/');
            socket.on('uv', function (data) {
                if(uv_data.length>30)
                    uv_data.shift();

                uv_data.push(data);

                $('#range-chart').dxChart('instance').option('dataSource', uv_data);
            });

            $("#bar-1").dxChart({
                dataSource: !{JSON.stringify(sevenDaySales)},
                series: {
                    argumentField: "day",
                    valueField: "sales",
                    name: "销售额",
                    type: "bar",
                    color: '#00b19d'
                },
                legend: {
                    visible: false
                }
            });

            var xenonPalette = ['#0e62c7', '#fcd036', '#4fcdfc', '#00b19d', '#ff6264', '#f7aa47', '#68b828', '#7c38bc'];
            var dataSource = !{JSON.stringify(citySales)}, timer;
            $("#bar-10").dxPieChart({
                dataSource: dataSource,
                tooltip: {
                    enabled: true,
                    format: "millions",
                    customizeText: function () {
                        return this.argumentText + "<br/>" + this.valueText;
                    }
                },
                size: {
                    height: 300
                },
                pointClick: function (point) {
                    point.showTooltip();
                    clearTimeout(timer);
                    timer = setTimeout(function () {
                        point.hideTooltip();
                    }, 2000);
                    $("select option:contains(" + point.argument + ")").prop("selected", true);
                },
                legend: {
                    visible: false
                },
                series: [{
                    type: "doughnut",
                    argumentField: "city"
                }],
                palette: xenonPalette
            });

            // Resize charts
            $(window).on('xenon.resize', function () {
                $("#range-chart").data("dxChart").render();
                $("#bar-1").data("dxChart").render();
                $("#bar-10").data("dxPieChart").render();
            });
        });

